body {
    margin: 0;
    background-color: white;
    font-family: Arial, sans-serif;
}

.text{
    color: #2B3A55;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    text-align: justify;
}

/* Ligne de separation*/
.separation{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.sectionTitre{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    color: #2B3A55;
}

.annonce h1{
    color: white;
    vertical-align: middle;
}

.hero {
    background: url('../../img/lukas.png') center/cover no-repeat;
    height: 500px;
    position: relative;
    z-index: -1;
    margin-bottom: 20px;
}

.annonce {
    position: absolute;
    top: 50%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
    background-color: #2B3A55;
    text-align: center;
    height: 8vw;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5vw;
    color: white;
}

#Actualite {
    padding: 3% 0; 
}

.btn-hide-article{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
    .hero {
        background-position: center center;
        height: 300px;
    }
}

/* Responsive */
@media (max-width: 480px) {
    .hero {
        background-position: center center;
        height: 300px;
    }

}

@media (min-width: 769px) {
    .annonce h1{
        font-size: 5vw;
    }
}