#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2B3A55;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2B3A55;
    padding: 15px 20px; /* Augmente un peu le padding pour équilibrer */
}

.header .logo {
    width: 100px;
}
.header nav ul li .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2B3A55;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    width: 300px;
    min-width: 150px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.header nav ul li:hover .dropdown-menu {
    display: block;
}


/* Navigation */

.burgerButton input[type="checkbox"] {
    display: none;
}

.burgerButton{
    width: 60px;
    height: 60px;
    background-image: linear-gradient(to right, #e91e63, #f44336);
    border-radius: 5px;
    cursor: pointer;
}

.burgerLines{
    width: 100%;
    height: 100%;
    position: relative;
}

.burgerLines span{
    background: #fff;
    width: 60%;
    height: 4px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s, width 0.5s;
}

.burgerLines .line-1 {
    transform: translate(-50%, -14px);
}

.burgerLines .line-3 {
    transform: translate(-50%, 10px);
}

.openmenu .line-1{
    transform:translate(-50%, -50%) rotate(-45deg);
}

.openmenu .line-2{
    width: 0;
}

.openmenu .line-3{
    transform:translate(-50%, -50%) rotate(45deg);
}

@media(max-width: 768px){
    #navList{
        margin-top: 90px;
    }

    #navList li {
        text-align: center; /* Centre le texte */
        padding: 10px 0; /* Ajoute un espace entre les items */
    }

    .header nav ul {
        display: none;
        position: absolute;
        left: 0;
        top:10%;
        width: 100%;
        background-color: #2B3A55;
        height: 50vh;
    }
    .header nav ul li{
        text-align: left;
        padding-bottom: 4em;
    }
}

.header nav ul.shownav {
    display:flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    top: 0%;
    height: 250px;

}

.header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px; /* Espacement constant entre les éléments */
    margin: 0;
    padding: 0;
}

.header nav ul li {
    display: flex;
    align-items: center;
}

.header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.header nav ul li a .icon {
    width: 50px;
    height: 50px;
    margin: auto;
}

/* Styles pour le menu déroulant */
.header nav ul li.dropdown {
    position: relative;
}

.header nav ul li .dropdown-toggle {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.header nav ul li .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -50%;
    background-color: #2B3A55;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

.header nav ul li .dropdown-menu li {
    padding: 10px;
}

.header nav ul li .dropdown-menu li a {
    color: white;
    text-decoration: none;
}

.header nav ul li:hover .dropdown-menu {
    display: block;
}

/* Optionally add hover effect */
.header nav ul li .dropdown-menu li a:hover {
    background-color: #1f2a3a;
}

/* Hero Section */

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hero p {
    font-size: 1.5rem;
}

.Text {
    padding: 50px 20px;
    color: white;
    font-size: 20px;
    background-color: #f9f9f9;
}

.Text h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    text-align: center;
    color: #2B3A55;
}

.Text-conteneur {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.Text-cadre {
    flex: 1 1 30%;
    background-color: #2B3A55;
    padding: 20px;
    border-radius: 5px;
    color: white;
    margin: 10px;
    min-width: 250px;
}

.Text-cadre h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

/* Footer */
.footer {
    margin-top: 60px;
    background-color: #2B3A55;
    color: #fff;
    padding: 20px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
}

.footer .contact-info p,
.footer .footer-links a {
    margin: 5px 0;
    color: #fff;
    text-decoration: none;
}

.footer .contact-info .email-link,
.footer .footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer .contact-info .email-link:hover,
.footer .footer-links a:hover {
    text-decoration: underline;
}

.footer .social-media a img {
    width: 24px;
    margin: 0 5px;
    transition: transform 0.3s;
}

.footer .social-media a:hover img {
    transform: scale(1.2);
}

@media (max-width: 1024px) {

    .header nav ul {
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .header nav ul {
        display: none;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .header .logo {
        width: 80px;
    }

    .footer .contact-info p,
    .footer .footer-links a,
    .footer .social-media a {
        font-size: 14px;
    }
}

@media (min-width: 769px) {
    .burgerButton {
        display: none;
    }
}