/* Titre général */
h1 {
    text-align: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    color: #2B3A55;
    border-bottom: 3px solid #2B3A55;
    margin-bottom: 30px;
}

.question-section h2 {
    color: #2B3A55;
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid #2B3A55;
}


/* Table styling */
.table {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid #E3E3E3;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

/* En-tête des tableaux */
.table thead {
    background-color: #2B3A55;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.table thead th {
    padding: 12px 20px;
}

/* Contenu des tableaux */
.table tbody td {
    padding: 12px 20px;
    font-size: 14px;
    text-align: center;
    color: #2B3A55;
}

/* Lignes alternées */
.table tbody tr:nth-child(even) {
    background-color: #F9F9F9;
}

/* Survol des lignes */
.table tbody tr:hover {
    background-color: #EAEAEA;
}

/* Première colonne mise en valeur */
.table tbody td:first-child {
    font-weight: bold;
    color: #2B3A55;
}

#charts {
    display: flex;
    flex-direction: column;  /* Aligne les éléments verticalement */
    align-items: center;     /* Centre les éléments horizontalement */
    justify-content: center; /* Optionnel : Centrage vertical */
}


.pie-chart-svg {
    display: flex;
    justify-content: center;  /* Centrage horizontal */
    align-items: center;      /* Centrage vertical */
    margin: 20px auto;
    position: relative;       /* Ajouté pour positionnement plus précis si nécessaire */
}


.arc path {
    stroke: #FFFFFF;
    stroke-width: 2px;
}

.arc text {
    font-size: 100px;
    color: white;
    font-family: 'Arial', sans-serif;
    text-anchor: middle;
}
