/* Table styling */
.table {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid #2B3A55;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

h1{
    text-align: center;
    padding-top: 30px;
}
/* Table header */
.table thead {
    background-color: #2B3A55;
    color: #FFFFFF;
}

.table thead th {
    padding: 12px;
    text-align: center;
    font-size: 16px;
}

/* Table body */
.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:last-child {
    border-bottom: none;
}

.table tbody td {
    padding: 12px;
    text-align: center;
    font-size: 14px;
    color: #2B3A55;
}

/* Table row hover effect */
.table tbody tr:hover {
    background-color: #f2f2f2;
}

/* Responsive table design */
@media (max-width: 600px) {
    .table {
        width: 100%;
        font-size: 12px;
    }

    .table thead {
        font-size: 14px;
    }
}
